apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: marketpulse
    user: mpuser
    secureJsonData:
      password: 'mppass123'
    jsonData:
      sslmode: 'disable'
      postgresVersion: 1500
      timescaledb: false
    editable: true
    isDefault: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true